<html>
    <head>
        <title>Welcome!</title>
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <img src="/static/images/image.jpg" class="center">
        <h1>Congrats on Starting your College Search Journey!</h1>
        <p>Enter the information below to find a CUNY that is the right fit for you!</p>
       <div>
        <form method="post" action="/results">
            <input type="text" name="gpa" placeholder="Current GPA (out of 100)"/>
            <input type="text" name="sat" placeholder="Overall SAT score"/>
            <input type="submit" value="Submit"/>
        </form>
        </div>
    </body>
</html>